# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
venv/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Reports
report.json